.wd-video-details-background {
    position: relative;
    background-color: black;
    height: auto;
    color: white;
    padding: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.wd-title-text {
    font-size: 48px;
}

.wd-left-col {
    display: flex;
    justify-content: center;
}

.wd-details-row {
    padding-left: 3%;
    padding-right: 3%;
}

.wd-photo-col {
    justify-content: center;
    align-items: center;
}

.wd-photo-col img {
    width: 100%;
}

.wd-width-70 {
    width: 80%;
}

.wd-width-80 {
    width: 80%;
}

.wd-width-100 {
    width: 100%;
}

.wd-photo-small-screen {
    padding-top: 20px;
}

.float-right {
    float: right
}