.wd-video-details-background {
    position: relative;
    background-color: black;
    height: auto;
    color: white;
    padding: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.wd-title-text {
    font-size: 48px;
}

.wd-left-col {
    display: flex;
    justify-content: center;
}

.wd-details-row {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.wd-photo-col {
    display: flex;
    justify-content: center;
}

.wd-photo-col img {
    height: 95%;
}

.wd-photo-small-screen {
    padding-top: 20px;
}