@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.cdnfonts.com/css/syne');
.container {
    margin-top: 20px;
}

.form-control {
    width: 50%;
}

.wd-padding10 {
    padding: 10px !important;
}

.wd-marginLeft10 {
    margin-left: 10px;
}

.wd-bottom {
    bottom: 0;
    position: fixed;
}

.wd-fullHeight {
    height: 100%;
}

* {
    font-family: 'Questrial', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Syne', sans-serif;
    font-weight: 700 !important;
}


/* BACKGROUND */

.wd-pinkBackground {
    background-color: #FE4DAF;
}

.wd-lightPinkBackground {
    background-color: #f89dd1;
}

.wd-purpleBackground {
    background-color: #825CA7;
}

.wd-whiteBackground {
    background-color: white;
}

.wd-blackBackground {
    background-color: black !important;
}

.wd-greenBackground {
    background-color: #BADA55;
}


/* TEXT */

.wd-whiteText {
    color: white !important;
}

.wd-blackText {
    color: black !important;
}

.wd-purpleText {
    color: #825CA7 !important;
}

.wd-pinkText {
    color: #FE4DAF
}


/* BORDER */

.wd-purpleBorder {
    border-width: 2px;
    border-color: #825CA7 !important;
}

.wd-whiteBorder {
    border-width: 2px;
    border-color: white;
}

.wd-borderNone {
    border-style: none;
}


/* BUTTONS */

.wd-circleBtn {
    border-style: none;
    width: 48px;
    height: 48px;
}

.wd-circleBorderBtn {
    border-style: solid;
    width: 48px;
    height: 48px;
}

.wd-circleIcon {
    width: 30px
}

.wd-boxBtn {
    border-style: none;
    width: 35px;
    height: 35px;
}

.wd-selected {
    background-color: #FE4DAF;
    color: white;
}


/* BUTTON HOVER */

button:hover.wd-pinkBackground {
    background-color: #f89dd1;
}

button:hover.wd-purpleBackground {
    background-color: #c99cf6
}

button:hover.wd-whiteBackground {
    background-color: black !important;
    color: white !important;
}

button:hover.wd-blackBackground {
    background-color: white !important;
    color: black !important;
}

button:hover.wd-greenBackground {
    background-color: #b7ec0b;
}


/* DISABLE HOVER*/

.wd-disable-hover {
    pointer-events: none;
}