.wd-profile-info-background {
    position: relative;
    height: 50vh;
    color: white;
    padding: 56px;
}

.wd-profile-list {
    list-style: none;
    padding-top: 40px;
}

.wd-movie-list-info {
    padding-left: 48px;
}

.wd-movie-list-item {
    background-color: lightgray;
    color: black;
}

.wd-movie-list-item:hover {
    background-color: silver;
}

.wd-movie-list-image {
    min-width: 150px;
}

.wd-movie-list-image img {
    max-width: 100%;
}

.wd-movie-list-row {
    flex-wrap: nowrap;
}

.wd-list-col {
    display: flex;
    flex-direction: column;
}

.wd-list-results {
    padding-top: 20px;
}